/* /Pages/Login.razor.rz.scp.css */
.btn-color[b-8ntxd7tj13] {
    background-color: #0e1c36;
    color: #fff;
}

.cardbody-color[b-8ntxd7tj13] {
    background-color: #FCCD04;
}

a[b-8ntxd7tj13] {
    text-decoration: none;
}
/* /Pages/NumberPuzzle.razor.rz.scp.css */
.layout[b-v9p7lovjpy] {
    margin-left: auto;
    margin-right: auto;
    width: 98%;
    text-align:center;
}
.message[b-v9p7lovjpy] {
    height: 100px;
}

.column[b-v9p7lovjpy] {
    float: left;
}

.btn-primary[b-v9p7lovjpy], .selectpicker[b-v9p7lovjpy] {
    width: 103px;
}

.timecontrol[b-v9p7lovjpy] {
    width: 102px;
}

@media screen and (min-width: 800px) {
    .space[b-v9p7lovjpy] {
        height: 50px;
        width: 50px;
        padding: 2px;
    }

    .piece-red[b-v9p7lovjpy], .piece-none[b-v9p7lovjpy] {
        width: 40px;
        height: 40px;
    }
}

@media screen and (min-width: 1000px) {
    .space[b-v9p7lovjpy] {
        height: 60px;
        width: 60px;
        padding: 4px;
    }

    .piece-red[b-v9p7lovjpy], .piece-none[b-v9p7lovjpy] {
        width: 50px;
        height: 50px;
    }
}

@media screen and (min-width: 1300px) {
    .space[b-v9p7lovjpy] {
        height: 95px;
        width: 95px;
        padding: 10px;
    }

    .piece-red[b-v9p7lovjpy], .piece-none[b-v9p7lovjpy] {
        width: 70px;
        height: 70px;
    }
}

@media screen and (min-width: 1900px) {
    .space[b-v9p7lovjpy] {
        height: 120px;
        width: 120px;
        padding: 16px;
    }

    .piece-red[b-v9p7lovjpy], .piece-none[b-v9p7lovjpy] {
        width: 80px;
        height: 80px;
    }
}

.space[b-v9p7lovjpy] {
    border: 1px #d7d7d7 solid;
}

.piece-red[b-v9p7lovjpy], .piece-none[b-v9p7lovjpy] {
    border-radius: 50%;
    text-align: center;
    color: #fff;
    font-weight: bold;
    display: flex;
    align-items: center;
}

.timecontrol[b-v9p7lovjpy], .selectpicker[b-v9p7lovjpy], .space[b-v9p7lovjpy] {
    border-color: #d7d7d7;
    color: #0e1c36;
}

.timecontrol[b-v9p7lovjpy] {
    padding: 4px;
}

.btn-primary[b-v9p7lovjpy], .timecontrol[b-v9p7lovjpy] {
    margin-right: 3px;
}



.piece-red[b-v9p7lovjpy] {
    background-color: #A64AC9;
}

.child[b-v9p7lovjpy] {
    width:100%;
    text-align:center;
}

.grid[b-v9p7lovjpy] {
    display: inline-block; 
}

.unfocus:focus[b-v9p7lovjpy], .unfocus:active[b-v9p7lovjpy] {
    outline: none;
    box-shadow: none;
}

.btn-primary[b-v9p7lovjpy], .btn-primary:hover[b-v9p7lovjpy], .unfocus:focus[b-v9p7lovjpy], .unfocus:active[b-v9p7lovjpy] {
    color: #0e1c36;
    background-color: #fff;
    border-color: #d7d7d7;
}



/* /Pages/Poker.razor.rz.scp.css */

div[b-c3ah7i6tz9]{
    padding: 0;
    margin: 0;
}

.layout[b-c3ah7i6tz9] {
    margin-left: auto;
    margin-right: auto;
    width: 99%;
    height: 99%;
    text-align: center;
    background-color: #ddd;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.new-game[b-c3ah7i6tz9] {
    position: absolute;
    top: 0;
    left: 0;
    float:left;
}

.is-disabled[b-c3ah7i6tz9] {
    color: currentColor;
    cursor: not-allowed;
    opacity: 0.5;
    text-decoration: none;
    pointer-events: none;
}

.border[b-c3ah7i6tz9] {
    border-radius: 45%;
    width: 72vw;
    height: 32vw;
    background-color: #463013;
    margin-top: 5vw;
    margin-bottom: 5vw;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: inset -0.5vw -0.5vw 0.5vw 0 rgba(0,0,0,.5), inset 0.5vw 0.5vw 0.5vw 0 rgba(255,255,255,0.5);
}

.area[b-c3ah7i6tz9] {
    border-radius: 45%;
    width: 70vw;
    height: 30vw;
    text-align: center;
    background-color: #21421E;
    font-weight: bold;
    display: flex;
    align-items: center;
    margin: auto;
    position: relative;
}

.area-text[b-c3ah7i6tz9] {
    margin: auto;
    color: yellow;
    font-size: 7vw;
}

.croupier[b-c3ah7i6tz9] {
    background-color: #555;
    width: 10vw;
    height: 5vw;
    border: groove #222 2vw;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}

#board[b-c3ah7i6tz9] {
    width: 28vw;
    height: 7vw;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    text-align: right;
}

#board img[b-c3ah7i6tz9]{
    margin: 0.5vw;
}

.hands[b-c3ah7i6tz9] {
    width: 14vw;
    height: 12vw;
    font-weight: bold;
}

.card-item[b-c3ah7i6tz9] {
    width: 4.0vw;
}
.common-cards[b-c3ah7i6tz9] {
    border: solid yellow 0.2vw;
    width: 5vw;
    height: 7vw;
    float: left;
    margin-left: 0.5vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dialer[b-c3ah7i6tz9] {
    width: 3.5vw;
}

#pot[b-c3ah7i6tz9] {
    position: absolute;
    //top: 10vw;
    //left: 62vw;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 10vw;
    height: 8vw;
    font-weight: bold;
    color: #fff;
    background: url(images/pot.svg) 100% 100% no-repeat;
    padding-top: 5vw;
}

.bets[b-c3ah7i6tz9] {
    width: 3vw;
    height: 3vw;
    background-color: darkblue;
    color: #fff;
    border:solid #fff 0.2vw;
    border-radius: 50%;
    padding-top: 0.6vw;
}

#bet1[b-c3ah7i6tz9] {
    position: absolute;
    top: 7vw;
    left: 46vw;
}

#bet2[b-c3ah7i6tz9] {
    position: absolute;
    top: 9vw;
    left: 54vw;
}

#bet3[b-c3ah7i6tz9] {
    position: absolute;
    top: 16vw;
    left: 55vw;
}

#bet4[b-c3ah7i6tz9] {
    position: absolute;
    top: 20vw;
    left: 46vw;
}

#bet5[b-c3ah7i6tz9] {
    position: absolute;
    top: 20vw;
    left: 32vw;
}

#bet6[b-c3ah7i6tz9] {
    position: absolute;
    top: 19vw;
    left: 21vw;
}

#bet7[b-c3ah7i6tz9] {
    position: absolute;
    top: 16vw;
    left: 9vw;
}

#bet8[b-c3ah7i6tz9] {
    position: absolute;
    top: 10vw;
    left: 12vw;
}

#bet9[b-c3ah7i6tz9] {
    position: absolute;
    top: 8vw;
    left: 23vw;
}

@media screen and (min-width: 400px) {
    .text[b-c3ah7i6tz9], .text-you[b-c3ah7i6tz9], .head[b-c3ah7i6tz9], .bets[b-c3ah7i6tz9], #new-game[b-c3ah7i6tz9], .button[b-c3ah7i6tz9], .text-top[b-c3ah7i6tz9], .text-top-you[b-c3ah7i6tz9], .bet-size[b-c3ah7i6tz9] {
        font-size: 0.2rem;
    }
    #pot[b-c3ah7i6tz9] {
        font-size: 0.3rem;
    }
}

@media screen and (min-width: 600px) {
    .text[b-c3ah7i6tz9], .text-you[b-c3ah7i6tz9], .head[b-c3ah7i6tz9], .bets[b-c3ah7i6tz9], #new-game[b-c3ah7i6tz9], .button[b-c3ah7i6tz9], .text-top[b-c3ah7i6tz9], .text-top-you[b-c3ah7i6tz9], .bet-size[b-c3ah7i6tz9] {
        font-size: 0.4rem;
    }
    #pot[b-c3ah7i6tz9] {
        font-size: 0.6rem;
    }
}

@media screen and (min-width: 800px) {
    .text[b-c3ah7i6tz9], .text-you[b-c3ah7i6tz9], .head[b-c3ah7i6tz9], .bets[b-c3ah7i6tz9], #new-game[b-c3ah7i6tz9], .button[b-c3ah7i6tz9], .text-top[b-c3ah7i6tz9], .text-top-you[b-c3ah7i6tz9], .bet-size[b-c3ah7i6tz9] {
        font-size: 0.6rem;
    }
    #pot[b-c3ah7i6tz9] {
        font-size: 1.0rem;
    }
}

@media screen and (min-width: 1000px) {
    .text[b-c3ah7i6tz9], .text-you[b-c3ah7i6tz9], .head[b-c3ah7i6tz9], .bets[b-c3ah7i6tz9], #new-game[b-c3ah7i6tz9], .button[b-c3ah7i6tz9], .text-top[b-c3ah7i6tz9], .text-top-you[b-c3ah7i6tz9], .bet-size[b-c3ah7i6tz9] {
        font-size: 0.8rem;
    }
    #pot[b-c3ah7i6tz9] {
        font-size: 1.2rem;
    }
}

@media screen and (min-width: 1300px) {
    .text[b-c3ah7i6tz9], .text-you[b-c3ah7i6tz9], .head[b-c3ah7i6tz9], .bets[b-c3ah7i6tz9], #new-game[b-c3ah7i6tz9], .button[b-c3ah7i6tz9], .text-top[b-c3ah7i6tz9], .text-top-you[b-c3ah7i6tz9], .bet-size[b-c3ah7i6tz9] {
        font-size: 1.0rem;
    }
    #pot[b-c3ah7i6tz9] {
        font-size: 1.5rem;
    }
}

@media screen and (min-width: 1900px) {
    .text[b-c3ah7i6tz9], .text-you[b-c3ah7i6tz9], .head[b-c3ah7i6tz9], .bets[b-c3ah7i6tz9], #new-game[b-c3ah7i6tz9], .button[b-c3ah7i6tz9], .text-top[b-c3ah7i6tz9], .text-top-you[b-c3ah7i6tz9], .bet-size[b-c3ah7i6tz9] {
        font-size: 1.8rem;
    }
    #pot[b-c3ah7i6tz9] {
        font-size: 2.0rem;
    }
}

.text[b-c3ah7i6tz9],.text-you[b-c3ah7i6tz9],.text-top[b-c3ah7i6tz9],.text-top-you[b-c3ah7i6tz9] {
    color: #fff;
}

.text[b-c3ah7i6tz9], .text-you[b-c3ah7i6tz9], .head[b-c3ah7i6tz9] {
    padding-left: 0.1vw;
}

.text-top[b-c3ah7i6tz9] {
    position: absolute;
    top: 10%;
    left: 70%;
}

.text-top-you[b-c3ah7i6tz9] {
    position: absolute;
    top: 65%;
    left: 65%;
}

.text-you[b-c3ah7i6tz9] {
    color: #000;
}

.text-you[b-c3ah7i6tz9], .text[b-c3ah7i6tz9]{
    text-align: center;
}

.no-think[b-c3ah7i6tz9] {
    background-color: #000;
}

.text[b-c3ah7i6tz9], .text-you[b-c3ah7i6tz9] {
    position: absolute;
    top: 30%;
    left: 5%;
}

.briefcase[b-c3ah7i6tz9] {
    float:left;
}

.think[b-c3ah7i6tz9], .SB[b-c3ah7i6tz9], .BB[b-c3ah7i6tz9], .Raise[b-c3ah7i6tz9], .Call[b-c3ah7i6tz9], .Check[b-c3ah7i6tz9], .head[b-c3ah7i6tz9] {
    background-color: #fff;
    color: #000;
}
.Winner[b-c3ah7i6tz9] {
    background-color: red;
    color:#fff;
}
.Fold[b-c3ah7i6tz9] {
    background-color: #555;
    color: #fff;
}

.think[b-c3ah7i6tz9]{
    padding-bottom: 0.8vw;
}

.head[b-c3ah7i6tz9] {
    border-radius: 50%;
    width: 6.0vw;
    height: 2.0vw;
    margin: auto;
    padding-top: 0.4vh;
    text-align: center;
    display: block;
    position: absolute;
    top: 50%;
    right: 0;
}

.body[b-c3ah7i6tz9] {
    position:relative;
}

.players img[b-c3ah7i6tz9], .players-you img[b-c3ah7i6tz9] {
    width: 4.0vw;
}

#player1[b-c3ah7i6tz9] {
    position: absolute;
    top: -5vw;
    left: 46vw;
}

#player2[b-c3ah7i6tz9] {
    position: absolute;
    top: -1vw;
    left: 61vw;
}

#player3[b-c3ah7i6tz9] {
    position: absolute;
    top: 25vw;
    left: 61vw;
}

#player4[b-c3ah7i6tz9] {
    position: absolute;
    top: 31vw;
    left: 40vw;
}

#player5[b-c3ah7i6tz9] {
    position: absolute;
    top: 31vw;
    left: 29vw;
}

#player6[b-c3ah7i6tz9] {
    position: absolute;
    top: 30vw;
    left: 16vw;
}

#player7[b-c3ah7i6tz9] {
    position: absolute;
    top: 28vw;
    left: 3vw;
}

#player8[b-c3ah7i6tz9] {
    position: absolute;
    top: -2vw;
    left: 3vw;
}

#player9[b-c3ah7i6tz9] {
    position: absolute;
    top: -5vw;
    left: 18vw;
}

#hand1[b-c3ah7i6tz9] {
    transform: rotate(3deg);    
    position: absolute;
    top: 1vw;
    left:40vw;
}

#hand2[b-c3ah7i6tz9] {
    transform: rotate(20deg);
    position: absolute;
    top: 4vw;
    left: 51vw;
}

#hand3[b-c3ah7i6tz9] {
    transform: rotate(162deg);
    position: absolute;
    top: 13vw;
    left: 52vw;
}

#hand4[b-c3ah7i6tz9] {
    transform: rotate(175deg);
    position: absolute;
    top: 17vw;
    left: 38vw;
}

#hand5[b-c3ah7i6tz9] {
    transform: rotate(180deg);
    position: absolute;
    top: 17vw;
    left: 26vw;
}

#hand6[b-c3ah7i6tz9] {
    transform: rotate(-173deg);
    position: absolute;
    top: 16vw;
    left: 13vw;
}

#hand7[b-c3ah7i6tz9] {
    transform: rotate(-158deg);
    position: absolute;
    top: 13vw;
    left: 3vw;
}

#hand8[b-c3ah7i6tz9] {
    transform: rotate(-22deg);
    position: absolute;
    top: 5vw;
    left: 3vw;
}

#hand9[b-c3ah7i6tz9] {
    transform: rotate(-3deg);
    position: absolute;
    top: 2vw;
    left: 14vw;
}

.unfocus:focus[b-c3ah7i6tz9], .unfocus:active[b-c3ah7i6tz9] {
    outline: none;
    box-shadow: none;
}

.btn-primary[b-c3ah7i6tz9], .btn-primary:hover[b-c3ah7i6tz9], .unfocus:focus[b-c3ah7i6tz9], .unfocus:active[b-c3ah7i6tz9] {
    color: #0e1c36;
    background-color: #fff;
    border-color: #d7d7d7;
}

a.button[b-c3ah7i6tz9] {
    display: block;
    font-weight: 700;
    color: rgb(209,209,217);
    text-decoration: none;
    text-shadow: 0 -0.1vw 0.2vw rgba(0,0,0,.2);
    padding: 0.1vw 0.3vw;
    outline: none;
    border-radius: 0.3vw;
    background: linear-gradient(rgb(110,112,120), rgb(81,81,86)) rgb(110,112,120);
    box-shadow: 0 0.1vw rgba(255,255,255,.2) inset, 0 0.3vw 0.5vw rgba(0,1,6,.5), 0 0 0.1vw 1px rgba(0,1,6,.2);
    transition: .2s ease-in-out;
    margin-right:0.3vw;    
}

.button-geom[b-c3ah7i6tz9] {
    width: 9vw;
    margin-bottom: 0.9vh;
}

a.button:hover:not(:active)[b-c3ah7i6tz9] {
    background: linear-gradient(rgb(126,126,134), rgb(70,71,76)) rgb(126,126,134);
    cursor: pointer;
}

a.button:active[b-c3ah7i6tz9] {
    top: 0.1vw;
    background: linear-gradient(rgb(76,77,82), rgb(56,57,62)) rgb(76,77,82);
    box-shadow: 0 0 0.1vw rgba(0,0,0,.5) inset, 0 0.2vw 0.3vw rgba(0,0,0,.5) inset, 0 0.1vw 0.1vw rgba(255,255,255,.1);
}

/*** slider ***/
.slider[b-c3ah7i6tz9] {
    -webkit-appearance: none;
    width: 80%;
    height: 1.5vw;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider:hover[b-c3ah7i6tz9] {
    opacity: 1;
}

.slider[b-c3ah7i6tz9]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 1.5vw;
    height: 1.5vw;
    background: linear-gradient(rgb(76,77,82), rgb(56,57,62)) rgb(76,77,82);
    cursor: pointer;
}

.slider[b-c3ah7i6tz9]::-moz-range-thumb {
    width: 1.5vw;
    height: 1.5vw;
    background: linear-gradient(rgb(76,77,82), rgb(56,57,62)) rgb(76,77,82);
    cursor: pointer;
}

.bet-size[b-c3ah7i6tz9] {
    width: 18%;
    height: 1.5vw;
}

#panel[b-c3ah7i6tz9] {
    position: absolute;
    bottom: 0;
    right: 0;
    background: #aaa;
    width: 20vw;
    height: 6vw;
    text-align: left;
    padding: 0.3vw;
}

.panel-container[b-c3ah7i6tz9] {
    width: auto;
    display: block;
    white-space: nowrap;
    width:98%;
}

.bet-size[b-c3ah7i6tz9], .slider[b-c3ah7i6tz9], .button[b-c3ah7i6tz9] {
    float: left;
}

.highlight[b-c3ah7i6tz9]{
    border: solid red 0.2vw;
}
/* /Shared/MainLayout.razor.rz.scp.css */
.page[b-5fm69uce70] {
    position: relative;
    display: flex;
    flex-direction: column;
}

main[b-5fm69uce70] {
    flex: 1;
}

.sidebar[b-5fm69uce70] {
/*        background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);  */

}

.top-row[b-5fm69uce70] {
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 2.5rem;
    display: flex;
    align-items: center;
}

.top-row[b-5fm69uce70]  a, .top-row[b-5fm69uce70]  .btn-link {
    white-space: nowrap;
    margin-left: 1rem;
    text-decoration: none;
}

.top-row[b-5fm69uce70]  a:hover, .top-row[b-5fm69uce70]  .btn-link:hover {
    text-decoration: underline;
}

.top-row[b-5fm69uce70]  a:first-child {
    overflow: hidden;
    text-overflow: ellipsis;
}

@media (max-width: 640.98px) {
    .top-row:not(.auth)[b-5fm69uce70] {
        display: none;
    }

    .top-row.auth[b-5fm69uce70] {
        justify-content: space-between;
    }

    .top-row[b-5fm69uce70]  a, .top-row[b-5fm69uce70]  .btn-link {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-5fm69uce70] {
        flex-direction: row;
    }

    .sidebar[b-5fm69uce70] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-5fm69uce70] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row.auth[b-5fm69uce70]  a:first-child {
        flex: 1;
        text-align: right;
        width: 0;
    }

    .top-row[b-5fm69uce70], article[b-5fm69uce70] {
        padding-left: 1rem !important;
        padding-right: 1.5rem !important;
    }
}
/* /Shared/NavMenu.razor.rz.scp.css */
.navbar-toggler[b-jvnagd7hv0] {
/*    background-color: rgba(255, 255, 255, 0.1); */
}

.top-row[b-jvnagd7hv0] {
/*   height: 3.5rem; */
/*    background-color: rgba(0,0,0,0.4);*/
}

.navbar-brand[b-jvnagd7hv0] {
    font-size: 1.5rem;
    background-color: #FCCD04;
    font-weight: bold;
    color: #0e1c36;
}

.oi[b-jvnagd7hv0] {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}

.nav-item[b-jvnagd7hv0] {
    font-size: 1.2rem;
/*    padding-bottom: 0.1rem; */
}

.nav-item:first-of-type[b-jvnagd7hv0] {
/*    padding-top: 1rem; */
}

.nav-item:last-of-type[b-jvnagd7hv0] {
/*    padding-bottom: 1rem; */
}

.nav-item[b-jvnagd7hv0]  a {
    color: #0e1c36;
    border-radius: 4px;
    height: 2rem;
    display: flex;
    align-items: center;
    line-height: 3rem;
}

.nav-item[b-jvnagd7hv0]  a.active {
    /*    background-color: rgba(255,255,255,0.25);*/
    color: #0e1c36;
    font-weight: bold;
}

.nav-item[b-jvnagd7hv0]  a:hover {
    /*    background-color: rgba(255,255,255,0.1); */
    color: #0e1c36;
    font-weight: bold;
    text-decoration:underline;
}

@media (min-width: 641px) {
    .navbar-toggler[b-jvnagd7hv0] {
        display: none;
    }

    .collapse[b-jvnagd7hv0] {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
}
