/* /Components/BoardCard.razor.rz.scp.css */

.card1[b-5f0zg4opjt] {
    background-color: white;
    width: 3.5vw;
    height: 12vh;
    white-space: break-spaces;
    line-height: .8;
    text-align: center;
    margin-right: .5vw;
    border-radius: 10%;
    padding: 0;
}
/* /Components/CardButton.razor.rz.scp.css */
*[b-8fed6eoea8] {
    margin: 0;
    padding: 0;
}

button[b-8fed6eoea8] {
    border-color: #ccc;
/*    width ="60" height="90" */
}
/* /Components/PlayerData.razor.rz.scp.css */

.player-data[b-ujl2jmz7oh] {
    width: 6vw;
    height: 5vh;
    /*background-color: lightgreen;*/
}

/* /Components/PlayerPerson.razor.rz.scp.css */

.player[b-fz54jpyrm6] {
    width: 6vw;
    height: 19vh;
}

div[b-fz54jpyrm6] {
    padding-left: 0.2vw;
}

.height-30[b-fz54jpyrm6]{
    height: 30%;
}

/* /Pages/Login.razor.rz.scp.css */
.btn-color[b-8ntxd7tj13] {
    background-color: #0e1c36;
    color: #fff;
}

.cardbody-color[b-8ntxd7tj13] {
    background-color: #FCCD04;
}

a[b-8ntxd7tj13] {
    text-decoration: none;
}
/* /Pages/OddsCalculator.razor.rz.scp.css */
*[b-r59iy9045t]{
    margin: 0;
    padding: 0;
}
table[b-r59iy9045t] {
    border-collapse: collapse;
    width:auto;
}

.board[b-r59iy9045t] {
    background-color: green;
    padding: 10px;
}

.card[b-r59iy9045t] {
    background-color: white;    
    width: 40px;
    height: 70px;
    white-space: break-spaces;
    line-height: 1.0;
    text-align: center;
    margin: 5px;
}
.font_large[b-r59iy9045t] {
    font-size: xx-large;
}

.btn:focus[b-r59iy9045t] {
    outline: none;
    box-shadow: none;
}


/* /Pages/PlayPoker.razor.rz.scp.css */

table[b-pzwgezdfxj] {
    border-collapse: collapse;
}

th[b-pzwgezdfxj], tr[b-pzwgezdfxj], td[b-pzwgezdfxj] {
    padding: 0 !important;
    margin: 0 !important;
}

.container[b-pzwgezdfxj] {
    border: 2px solid black;
    padding: 0.5rem;
    height: calc(100%);
}

.game-table[b-pzwgezdfxj] {
    background-color: #21421E;
    height: 40vh;
    width: 40vw;
    border-radius: 10%;
    margin: 0 auto;
    border: 1vw solid black;
}

.board[b-pzwgezdfxj] {
    /*border: solid yellow 2px;*/
}

.card[b-pzwgezdfxj] {
    background-color: white;
    width: 3.5vw;
    height: 12vh;
    white-space: break-spaces;
    line-height: 1.0;
    text-align: center;
    margin-right: .5vw;
}

.game-panel[b-pzwgezdfxj] {
    height: 20vh;
    width: 30vw;
    background-color: lightseagreen;
    position: absolute;
    bottom: 0;
    right: 0;
}



/* /Shared/MainLayout.razor.rz.scp.css */
.page[b-5fm69uce70] {
    position: relative;
    display: flex;
    flex-direction: column;
}

main[b-5fm69uce70] {
    flex: 1;
}

.sidebar[b-5fm69uce70] {
/*        background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);  */

}

.top-row[b-5fm69uce70] {
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 2.5rem;
    display: flex;
    align-items: center;
}

.top-row[b-5fm69uce70]  a, .top-row[b-5fm69uce70]  .btn-link {
    white-space: nowrap;
    margin-left: 1rem;
    text-decoration: none;
}

.top-row[b-5fm69uce70]  a:hover, .top-row[b-5fm69uce70]  .btn-link:hover {
    text-decoration: underline;
}

.top-row[b-5fm69uce70]  a:first-child {
    overflow: hidden;
    text-overflow: ellipsis;
}

@media (max-width: 640.98px) {
    .top-row:not(.auth)[b-5fm69uce70] {
        display: none;
    }

    .top-row.auth[b-5fm69uce70] {
        justify-content: space-between;
    }

    .top-row[b-5fm69uce70]  a, .top-row[b-5fm69uce70]  .btn-link {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-5fm69uce70] {
        flex-direction: row;
    }

    .sidebar[b-5fm69uce70] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-5fm69uce70] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row.auth[b-5fm69uce70]  a:first-child {
        flex: 1;
        text-align: right;
        width: 0;
    }

    .top-row[b-5fm69uce70], article[b-5fm69uce70] {
        padding-left: 1rem !important;
        padding-right: 1.5rem !important;
    }
}
/* /Shared/NavMenu.razor.rz.scp.css */
.navbar-toggler[b-jvnagd7hv0] {
/*    background-color: rgba(255, 255, 255, 0.1); */
}

.top-row[b-jvnagd7hv0] {
/*   height: 3.5rem; */
/*    background-color: rgba(0,0,0,0.4);*/
}

.navbar-brand[b-jvnagd7hv0] {
    font-size: 1.5rem;
    background-color: #FCCD04;
    font-weight: bold;
    color: #0e1c36;
}

.oi[b-jvnagd7hv0] {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}

.nav-item[b-jvnagd7hv0] {
    font-size: 1.2rem;
/*    padding-bottom: 0.1rem; */
}

.nav-item:first-of-type[b-jvnagd7hv0] {
/*    padding-top: 1rem; */
}

.nav-item:last-of-type[b-jvnagd7hv0] {
/*    padding-bottom: 1rem; */
}

.nav-item[b-jvnagd7hv0]  a {
    color: #0e1c36;
    border-radius: 4px;
    height: 2rem;
    display: flex;
    align-items: center;
    line-height: 3rem;
}

.nav-item[b-jvnagd7hv0]  a.active {
    /*    background-color: rgba(255,255,255,0.25);*/
    color: #0e1c36;
    font-weight: bold;
}

.nav-item[b-jvnagd7hv0]  a:hover {
    /*    background-color: rgba(255,255,255,0.1); */
    color: #0e1c36;
    font-weight: bold;
    text-decoration:underline;
}

@media (min-width: 641px) {
    .navbar-toggler[b-jvnagd7hv0] {
        display: none;
    }

    .collapse[b-jvnagd7hv0] {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
}
