<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href=""><span style="padding: 20px">Poker</span></a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi bi bi-person-fill" style="font-size:1.3rem"></span>Login
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="calculator">
                <span class="oi bi bi-calculator" aria-hidden="true" style="font-size:1.3rem"></span>Odds&nbsp;calculator
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="playpoker">
                <span class="oi bi bi-suit-spade-fill" aria-hidden="true" style="font-size:1.3rem"></span>Play&nbsp;poker
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
