@using System.Web
@using System.Text.RegularExpressions;

<p>@((MarkupString)Regex.Replace(HttpUtility.HtmlEncode((@Value ?? string.Empty)), "\r?\n|\r", "<br />"))</p>

@code {
    [Parameter]
    public string Value { get; set; } = default!;
}

