<div class="d-inline-block player" style="background-color:@_color">
    <div class="height-30 border fw-bold fs-5">@Player?.Cards</div>
    <div class="text-lg-start border height-10">@Player?.Message</div>
    <div class="text-lg-start border height-10">Odds:@Player?.Odds%</div>
    <div class="text-lg-start border height-10">@Player?.Stack</div>
</div>

@code {
    string _border = string.Empty;
    string _color = "lightgray";
    Model.PlayerObject? _player;
    [Parameter]
    public Model.PlayerObject? Player 
    { 
        get => _player;
        set
        {
            _player = value;
            if(_player != null)
            {
                _color = !(_player.State ?? true) ? "red" : _player.IsThinks ? "blue" : "lightgray";
                //Console.WriteLine($"({_player.Id})[{_player.State}][{_player.IsThinks}][{_color}]");
            }
        } 
    }
}
