<div class="d-inline-block player" style="@_style">
    <div class="height-30 border fw-bold fs-5">@Player?.Cards</div>
    <div class="text-lg-start border height-10">@Player?.Message</div>
    <div class="text-lg-start border height-10">Odds:@Player?.Odds%</div>
    <div class="text-lg-start border height-10">@Player?.Stack</div>
</div>

@code {
    string _style = "background-color:lightgray";
    string _bgColor = "lightgray";
    Model.PlayerObject? _player;
    [Parameter]
    public Model.PlayerObject? Player 
    { 
        get => _player;
        set
        {
            _player = value;
            if(_player != null)
            {
                _bgColor = !(_player.State ?? true) ? "red" : _player.IsThinks ? "yellow" : "lightgray";
                _style = $"background-color:{_bgColor}";
            }
        } 
    }
}
