<div class="d-inline-block player-data">
    <span class="fw-bold" style="color:white; --display:@_displayDealer;">D</span>
    <div class="d-inline-block" style=" color:white; --display:@_displayBet;">@Player?.Bet</div>
</div>

<style>
    span, div {
        visibility: var(--display);
    }
</style>

@code {
    string? _displayDealer;
    string? _displayBet;
    Model.PlayerObject? _player;
    [Parameter]
    public Model.PlayerObject? Player 
    { 
        get => _player;
        set
        {
            _player = value;
            if(_player != null)
            {
                _displayDealer = _player.IsDealer ? "visible" : "collapse";
                _displayBet = _player.Bet > 0 ? "visible" : "collapse";
            }
        } 
    }
    
}
