<div class="d-inline-block player">    
    <div class="height-30">@Player?.Cards</div>
    <div class="text-lg-start height-30">@Player?.Message</div>
    <div class="text-lg-start height-30">@Player?.Stack</div>
</div>

@code {    
    [Parameter]
    public Model.PlayerObject? Player { get; set; }
}
