/* /Pages/Login.razor.rz.scp.css */
.btn-color[b-0odfjjyjrj] {
    background-color: #0e1c36;
    color: #fff;
}

.cardbody-color[b-0odfjjyjrj] {
    background-color: #FCCD04;
}

a[b-0odfjjyjrj] {
    text-decoration: none;
}
/* /Pages/NumberPuzzle.razor.rz.scp.css */
.layout[b-zh6blsfac6] {
    margin-left: auto;
    margin-right: auto;
    width: 98%;
    text-align:center;
}
.message[b-zh6blsfac6] {
    height: 100px;
}

.column[b-zh6blsfac6] {
    float: left;
}

.btn-primary[b-zh6blsfac6], .selectpicker[b-zh6blsfac6] {
    width: 103px;
}

.timecontrol[b-zh6blsfac6] {
    width: 102px;
}

@media screen and (min-width: 800px) {
    .space[b-zh6blsfac6] {
        height: 50px;
        width: 50px;
        padding: 2px;
    }

    .piece-red[b-zh6blsfac6], .piece-none[b-zh6blsfac6] {
        width: 40px;
        height: 40px;
    }
}

@media screen and (min-width: 1000px) {
    .space[b-zh6blsfac6] {
        height: 60px;
        width: 60px;
        padding: 4px;
    }

    .piece-red[b-zh6blsfac6], .piece-none[b-zh6blsfac6] {
        width: 50px;
        height: 50px;
    }
}

@media screen and (min-width: 1300px) {
    .space[b-zh6blsfac6] {
        height: 95px;
        width: 95px;
        padding: 10px;
    }

    .piece-red[b-zh6blsfac6], .piece-none[b-zh6blsfac6] {
        width: 70px;
        height: 70px;
    }
}

@media screen and (min-width: 1900px) {
    .space[b-zh6blsfac6] {
        height: 120px;
        width: 120px;
        padding: 16px;
    }

    .piece-red[b-zh6blsfac6], .piece-none[b-zh6blsfac6] {
        width: 80px;
        height: 80px;
    }
}

.space[b-zh6blsfac6] {
    border: 1px #d7d7d7 solid;
}

.piece-red[b-zh6blsfac6], .piece-none[b-zh6blsfac6] {
    border-radius: 50%;
    text-align: center;
    color: #fff;
    font-weight: bold;
    display: flex;
    align-items: center;
}

.timecontrol[b-zh6blsfac6], .selectpicker[b-zh6blsfac6], .space[b-zh6blsfac6] {
    border-color: #d7d7d7;
    color: #0e1c36;
}

.timecontrol[b-zh6blsfac6] {
    padding: 4px;
}

.btn-primary[b-zh6blsfac6], .timecontrol[b-zh6blsfac6] {
    margin-right: 3px;
}



.piece-red[b-zh6blsfac6] {
    background-color: #A64AC9;
}

.child[b-zh6blsfac6] {
    width:100%;
    text-align:center;
}

.grid[b-zh6blsfac6] {
    display: inline-block; 
}

.unfocus:focus[b-zh6blsfac6], .unfocus:active[b-zh6blsfac6] {
    outline: none;
    box-shadow: none;
}

.btn-primary[b-zh6blsfac6], .btn-primary:hover[b-zh6blsfac6], .unfocus:focus[b-zh6blsfac6], .unfocus:active[b-zh6blsfac6] {
    color: #0e1c36;
    background-color: #fff;
    border-color: #d7d7d7;
}



/* /Pages/Poker.razor.rz.scp.css */

.layout[b-trbopq1tbv] {
    margin-left: auto;
    margin-right: auto;
    width: 98%;
    text-align: center;
}

.area[b-trbopq1tbv] {
    border-radius: 45%;
    width: 70vw;
    height: 40vw;
    text-align: center;
    background-color: #006000;
    font-weight: bold;
    display: inline-block;
    align-items: center;
    border: solid #463013 25px;
    margin-top:1vw;
    position: relative;
}

.croupier[b-trbopq1tbv] {
    background-color: #555;
    width: 10vw;
    height: 5vw;
    margin: auto;
    border: groove #222 2vw;
    position: relative;
}

.position1[b-trbopq1tbv] {
    position: absolute;
    top: -7vw;
    left: 45vw;
}

.position2[b-trbopq1tbv] {
    position: absolute;
    top: -1vw;
    left: 61vw;
}

.position3[b-trbopq1tbv] {
    position: absolute;
    top: 26vw;
    left: 56vw;
}

.position4[b-trbopq1tbv] {
    position: absolute;
    top: 35vw;
    left: 46vw;
}

.position5[b-trbopq1tbv] {
    position: absolute;
    top: 27vw;
    left: 25vw;
}

.position6[b-trbopq1tbv] {
    position: absolute;
    top: 25vw;
    left: 9vw;
}

.position7[b-trbopq1tbv] {
    position: absolute;
    top: 17vw;
    left: -4vw;
}

.position8[b-trbopq1tbv] {
    position: absolute;
    top: -2vw;
    left: -4vw;
}

.position9[b-trbopq1tbv] {
    position: absolute;
    top: -8vw;
    left: 10vw;
}



@media screen and (min-width: 600px) {
    .player[b-trbopq1tbv] {
        font-size: 2.0rem;
    }
}

@media screen and (min-width: 800px) {
    .player[b-trbopq1tbv] {
        font-size: 3.0rem;
    }
}

@media screen and (min-width: 1000px) {
    .player[b-trbopq1tbv] {
        font-size: 4.0rem;
    }
}

@media screen and (min-width: 1300px) {
    .player[b-trbopq1tbv] {
        font-size: 5.0rem;
    }
}

@media screen and (min-width: 1900px) {
    .player[b-trbopq1tbv] {
        font-size: 1.8rem;
    }
}

.hands[b-trbopq1tbv] {
    border: solid red 1px;
    width: 15vw;
    height: 12vw;
}

#hand1[b-trbopq1tbv] {
    transform: rotate(11deg);    
    position: absolute;
    top: 1vw;
    left: 38vw;
}

#hand2[b-trbopq1tbv] {
    transform: rotate(40deg);
    position: absolute;
    top: 6vw;
    left: 49vw;
}
/* /Shared/MainLayout.razor.rz.scp.css */
.page[b-d43zj6zlhp] {
    position: relative;
    display: flex;
    flex-direction: column;
}

main[b-d43zj6zlhp] {
    flex: 1;
}

.sidebar[b-d43zj6zlhp] {
/*        background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);  */

}

.top-row[b-d43zj6zlhp] {
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 2.5rem;
    display: flex;
    align-items: center;
}

.top-row[b-d43zj6zlhp]  a, .top-row[b-d43zj6zlhp]  .btn-link {
    white-space: nowrap;
    margin-left: 1rem;
    text-decoration: none;
}

.top-row[b-d43zj6zlhp]  a:hover, .top-row[b-d43zj6zlhp]  .btn-link:hover {
    text-decoration: underline;
}

.top-row[b-d43zj6zlhp]  a:first-child {
    overflow: hidden;
    text-overflow: ellipsis;
}

@media (max-width: 640.98px) {
    .top-row:not(.auth)[b-d43zj6zlhp] {
        display: none;
    }

    .top-row.auth[b-d43zj6zlhp] {
        justify-content: space-between;
    }

    .top-row[b-d43zj6zlhp]  a, .top-row[b-d43zj6zlhp]  .btn-link {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-d43zj6zlhp] {
        flex-direction: row;
    }

    .sidebar[b-d43zj6zlhp] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-d43zj6zlhp] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row.auth[b-d43zj6zlhp]  a:first-child {
        flex: 1;
        text-align: right;
        width: 0;
    }

    .top-row[b-d43zj6zlhp], article[b-d43zj6zlhp] {
        padding-left: 1rem !important;
        padding-right: 1.5rem !important;
    }
}
/* /Shared/NavMenu.razor.rz.scp.css */
.navbar-toggler[b-d0qnm21bx8] {
/*    background-color: rgba(255, 255, 255, 0.1); */
}

.top-row[b-d0qnm21bx8] {
/*   height: 3.5rem; */
/*    background-color: rgba(0,0,0,0.4);*/
}

.navbar-brand[b-d0qnm21bx8] {
    font-size: 1.5rem;
    background-color: #FCCD04;
    font-weight: bold;
    color: #0e1c36;
}

.oi[b-d0qnm21bx8] {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}

.nav-item[b-d0qnm21bx8] {
    font-size: 1.2rem;
/*    padding-bottom: 0.1rem; */
}

.nav-item:first-of-type[b-d0qnm21bx8] {
/*    padding-top: 1rem; */
}

.nav-item:last-of-type[b-d0qnm21bx8] {
/*    padding-bottom: 1rem; */
}

.nav-item[b-d0qnm21bx8]  a {
    color: #0e1c36;
    border-radius: 4px;
    height: 2rem;
    display: flex;
    align-items: center;
    line-height: 3rem;
}

.nav-item[b-d0qnm21bx8]  a.active {
    /*    background-color: rgba(255,255,255,0.25);*/
    color: #0e1c36;
    font-weight: bold;
}

.nav-item[b-d0qnm21bx8]  a:hover {
    /*    background-color: rgba(255,255,255,0.1); */
    color: #0e1c36;
    font-weight: bold;
    text-decoration:underline;
}

@media (min-width: 641px) {
    .navbar-toggler[b-d0qnm21bx8] {
        display: none;
    }

    .collapse[b-d0qnm21bx8] {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
}
