.layout {
    margin-left: auto;
    margin-right: auto;
    width: 98%;
    text-align:center;
}
.message {
    height: 100px;
}

.column {
    float: left;
}

.btn-primary, .selectpicker {
    width: 103px;
}

.timecontrol {
    width: 102px;
}
.space {
    width: 104px;
}

.timecontrol, .selectpicker, .space {
    border-color: #d7d7d7;
    color: #0e1c36;
}

.timecontrol {
    padding: 4px;
}

.btn-primary, .timecontrol {
    margin-right: 3px;
}

.space {
    height: 105px;
    border: 1px #d7d7d7 solid;
    padding: 14px;
}

.piece-red, .piece-none {
    border-radius: 50%;
    width: 70px;
    height: 70px;
    text-align: center;
    color: #fff;
    font-weight: bold;
    display: flex;
    align-items: center;
}

.piece-red {
    background-color: #A64AC9;
}

.child {
    width:100%;
    text-align:center;
}

.grid {
    display: inline-block; 
}

.unfocus:focus, .unfocus:active {
    outline: none;
    box-shadow: none;
}

.btn-primary, .btn-primary:hover, .unfocus:focus, .unfocus:active {
    color: #0e1c36;
    background-color: #fff;
    border-color: #d7d7d7;
}



