*{
    margin: 0;
    padding: 0;
}
table {
    border-collapse: collapse;
    width:auto;
}

table th, table td {
    padding: 1px;
}

.board {
    background-color: green;
    border-collapse: separate;
    border-spacing: 1em;
}

.board td {
    background-color: white;
    font-size:xx-large;
    width: 50px;
    height: 80px;
}