*{
    margin: 0;
    padding: 0;
}
table {
    border-collapse: collapse;
    width:auto;
}

.board {
    background-color: green;
    padding: 10px;
}

.card {
    background-color: white;    
    width: 40px;
    height: 70px;
    white-space: break-spaces;
    line-height: 1.0;
    text-align: center;
    margin: 5px;
}
.font_large {
    font-size: xx-large;
}


