@page "/playpoker"
@inherits PlayPokerBase

<div class="main">
    <div class="table">
        <div class="btn-group mr-2 board font_large row align-items-center" role="group">
            <div class="w-20 border col-md card"></div>
            <div class="w-20 border col-md card"></div>
            <div class="w-20 border col-md card"></div>
            <div class="w-20 border col-md card"></div>
            <div class="w-20 border col-md card"></div>
        </div>
    </div>
</div>

