
table {
    border-collapse: collapse;
}

th, tr, td {
    padding: 0 !important;
    margin: 0 !important;
}

.container {
    border: 2px solid black;
    padding: 0.5rem;
    height: calc(100%);
}

.game-table {
    background-color: #21421E;
    height: 40vh;
    width: 40vw;
    border-radius: 10%;
    margin: 0 auto;
    border: 1vw solid black;
}

.board {
    border: solid yellow 2px;
}

.card {
    background-color: white;
    width: 3.5vw;
    height: 12vh;
    white-space: break-spaces;
    line-height: 1.0;
    text-align: center;
    margin-right: .5vw;
}




