@page "/playpoker"
@inherits PlayPokerBase


<table>
    <tr>
        <td></td>
        <td class="text-center h-auto">
            <div class="d-inline-block person" style="margin: 0;"></div>
        </td>
        <td class="text-center h-auto">
            <div class="d-inline-block person"></div>
        </td>
        <td class="text-center h-auto">
            <div class="d-inline-block person"></div>
        </td>
        <td></td>
    </tr>
    <tr>
        <td class="text-center">
            <div class="d-inline-block person"></div>
        </td>
        <td colspan="3" rowspan="2">
            <div class="panel-body">
                <div class="table">
                    <div class="btn-group mr-2 board font_large row align-items-center" role="group">
                        <div class="w-20 border col-md card"></div>
                        <div class="w-20 border col-md card"></div>
                        <div class="w-20 border col-md card"></div>
                        <div class="w-20 border col-md card"></div>
                        <div class="w-20 border col-md card"></div>
                    </div>
                </div>
            </div>
        </td>
        <td class="text-center">
            <div class="d-inline-block person"></div>
        </td>
    </tr>

    <tr>
        <td class="text-center">
            <div class="d-inline-block person"></div>
        </td>
        <td class="text-center">
            <div class="d-inline-block person"></div>
        </td>
    </tr>

    <tr>
        <td></td>
        <td class="text-center">
            <div class="d-inline-block person"></div>
        </td>
        <td class="text-center">
            <div class="d-inline-block person"></div>
        </td>
        <td class="text-center">
            <div class="d-inline-block person"></div>
        </td>
        <td></td>
    </tr>
</table>

