@page "/poker"
@inherits PokerBase

<h3 class="text-center fw-bold">Texas hold'em</h3>

<div class="layout">
    <!-- <div class="area"></div> -->
    <svg>
        <ellipse cx="100" cy="50" rx="832" ry="428" fill="#006000" stroke-width="25" stroke="#463013"/>
        <rect x="5" y="5" width="832" height="428" stroke="#463013" stroke-width="25" fill="#006000" />
    </svg>

</div>
