@page "/poker"
@inherits PokerBase

<h3 class="text-center fw-bold">Texas hold'em</h3>

<div class="layout">
    <div class="area">
        <div class="croupier">
            <img src="images/1.svg" style="width:4vw"/>
        </div>
        <i class="bi bi-person-fill position1 player"></i>
        <div id="hand1" class="hands">
            <img src="images/2.svg" style="width:4vw"/>
            <img src="images/3.svg" style="width:4vw"/>
            <img src="images/4.svg" style="width:4vw"/>
            <img src="images/5.svg" style="width:4vw"/>

        </div>
        <i class="bi bi-person-fill position2 player"></i>
        <div id="hand2" class="hands">
            <img src="images/2.svg" style="width:4vw"/>
            <img src="images/3.svg" style="width:4vw"/>
            <img src="images/4.svg" style="width:4vw"/>
            <img src="images/5.svg" style="width:4vw"/>

        </div>

        <i class="bi bi-person-fill position3 player"></i>
        <i class="bi bi-person-fill position4 player"></i>
        <i class="bi bi-person position5 player"></i>
        <i class="bi bi-person-fill position6 player"></i>
        <i class="bi bi-person-fill position7 player"></i> 
        <i class="bi bi-person-fill position8 player"></i>
        <i class="bi bi-person-fill position9 player"></i>
    </div>
</div>
