@page "/poker"
@inherits PokerBase

<h3 class="text-center fw-bold">Texas hold'em</h3>
<input class="btn btn-primary unfocus" style="position:absolute;" type="button" value="New Game" onclick="@(async () => await NewGame())" />
<div class="layout">
    <div class="area">
        <div class="croupier">
            <img src="@CroupierImage" class="card-item"/>
        </div>
        @for(int i = 0; i < 9; i ++)
        {
            string fill = i+1 != 5 ? "-fill" : string.Empty;
            <i class="bi bi-person@(fill) position@((i+1).ToString()) player"></i>
            <div id="hand@((i+1).ToString())" class="hands">
                @for(int j = 0; j < 5; j ++)
                {
                    <img src="@(Images[i, j])" class="card-item"/>
                }
            </div>
        }
    </div>
</div>
