
.layout {
    margin-left: auto;
    margin-right: auto;
    width: 98%;
    text-align: center;
}
/*
.area {
    border-radius: 30%;
    width: 832px;
    height: 428px;
    text-align: center;
    background-color: #006000;
    font-weight: bold;
    display: inline-block;
    align-items: center;
    border: solid #463013 25px;
}
*/

.area {
    border-radius: 45%;
    width: 60vw;
    height: 30vw;
    text-align: center;
    background-color: #006000;
    font-weight: bold;
    display: inline-block;
    align-items: center;
    border: solid #463013 25px;
    margin-top:5vw;
    position: relative;
}

.croupier {
    background-color: #555;
    width: 10vw;
    height: 5vw;
    margin: auto;
    border: groove #222 2vw;
}

.position1 {
    position: absolute;
    top: -8vw;
    left: 40vw;
}

.position2 {
    position: absolute;
    top: -1vw;
    left: 55vw;
}

.position3 {
    position: absolute;
    top: 16vw;
    left: 56vw;
}

.position4 {
    position: absolute;
    top: 25vw;
    left: 42vw;
}

.position5 {
    position: absolute;
    top: 27vw;
    left: 25vw;
}

.position6 {
    position: absolute;
    top: 25vw;
    left: 9vw;
}

.position7 {
    position: absolute;
    top: 17vw;
    left: -4vw;
}

.position8 {
    position: absolute;
    top: -2vw;
    left: -4vw;
}

.position9 {
    position: absolute;
    top: -8vw;
    left: 10vw;
}



@media screen and (min-width: 600px) {
    .player {
        font-size: 2.0rem;
    }
}

@media screen and (min-width: 800px) {
    .player {
        font-size: 3.0rem;
    }
}

@media screen and (min-width: 1000px) {
    .player {
        font-size: 4.0rem;
    }
}

@media screen and (min-width: 1300px) {
    .player {
        font-size: 5.0rem;
    }
}

@media screen and (min-width: 1900px) {
    .player {
        font-size: 1.8rem;
    }
}