.btn-color[b-0odfjjyjrj] {
    background-color: #0e1c36;
    color: #fff;
}

.profile-image-pic[b-0odfjjyjrj] {
    height: 200px;
    width: 200px;
    object-fit: cover;
}

.cardbody-color[b-0odfjjyjrj] {
    background-color: #FCCD04;
}

a[b-0odfjjyjrj] {
    text-decoration: none;
}
