
.layout[b-trbopq1tbv] {
    margin-left: auto;
    margin-right: auto;
    width: 98%;
    text-align: center;
}

.area[b-trbopq1tbv] {
    border-radius: 50%;
    width: 512px;
    height: 512px;
    text-align: center;
    background-color: darkgreen;
    font-weight: bold;
    display: inline-block;
    align-items: center;
}
