
.layout[b-trbopq1tbv] {
    margin-left: auto;
    margin-right: auto;
    width: 98%;
    text-align: center;
}

.area[b-trbopq1tbv] {
    border-radius: 45%;
    width: 70vw;
    height: 40vw;
    text-align: center;
    background-color: #006000;
    font-weight: bold;
    display: inline-block;
    align-items: center;
    border: solid #463013 25px;
    margin-top:1vw;
    position: relative;
}

.croupier[b-trbopq1tbv] {
    background-color: #555;
    width: 10vw;
    height: 5vw;
    margin: auto;
    border: groove #222 2vw;
    position: relative;
}

.position1[b-trbopq1tbv] {
    position: absolute;
    top: -7vw;
    left: 45vw;
}

.position2[b-trbopq1tbv] {
    position: absolute;
    top: -1vw;
    left: 61vw;
}

.position3[b-trbopq1tbv] {
    position: absolute;
    top: 26vw;
    left: 56vw;
}

.position4[b-trbopq1tbv] {
    position: absolute;
    top: 35vw;
    left: 46vw;
}

.position5[b-trbopq1tbv] {
    position: absolute;
    top: 27vw;
    left: 25vw;
}

.position6[b-trbopq1tbv] {
    position: absolute;
    top: 25vw;
    left: 9vw;
}

.position7[b-trbopq1tbv] {
    position: absolute;
    top: 17vw;
    left: -4vw;
}

.position8[b-trbopq1tbv] {
    position: absolute;
    top: -2vw;
    left: -4vw;
}

.position9[b-trbopq1tbv] {
    position: absolute;
    top: -8vw;
    left: 10vw;
}



@media screen and (min-width: 600px) {
    .player[b-trbopq1tbv] {
        font-size: 2.0rem;
    }
}

@media screen and (min-width: 800px) {
    .player[b-trbopq1tbv] {
        font-size: 3.0rem;
    }
}

@media screen and (min-width: 1000px) {
    .player[b-trbopq1tbv] {
        font-size: 4.0rem;
    }
}

@media screen and (min-width: 1300px) {
    .player[b-trbopq1tbv] {
        font-size: 5.0rem;
    }
}

@media screen and (min-width: 1900px) {
    .player[b-trbopq1tbv] {
        font-size: 1.8rem;
    }
}

.hands[b-trbopq1tbv] {
    border: solid red 1px;
    width: 15vw;
    height: 12vw;
}

#hand1[b-trbopq1tbv] {
    transform: rotate(11deg);    
    position: absolute;
    top: 1vw;
    left: 38vw;
}

#hand2[b-trbopq1tbv] {
    transform: rotate(40deg);
    position: absolute;
    top: 6vw;
    left: 49vw;
}
